@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;300;400;600;700;900&display=swap');

.logoContainer{
    display: flex;
    align-items: center;
}

.logoIcon{
    width: 30px;
    height: 30px;
    margin-right: 10px;
}

.logoText{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
}

.topbarRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.rightIcon{
    margin-left: 5px;
    margin-right: 5px;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .searchBar{
        display: none;
    }

}